<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Journals </title>
    <link rel="stylesheet" href="../css/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
<body>
  <header>
    <nav class="navbar">
      <div class="front">
        <img src="../images/logo.png" alt="" height="100px" width="300px">
   
        </div>
      <ul class="menu">
        <li><a href="../docs/about.pdf">About</a></li> &nbsp;&nbsp;
        <li><a href="../docs/aim.pdf">Aim</a></li>&nbsp;&nbsp;
        <li><a href="../docs/policy.pdf">Policy</a></li>&nbsp;&nbsp;
        <li><a href="../docs/tamplete.docx">Tamplete</a></li>&nbsp;&nbsp;
        <li><a href="../docs/authors.pdf">Authors</a></li>
      </ul>
      <!-- <div class="buttons">
        <a href="templates/login.php"><input type="button" value="Login / Sign Up"></a>
      </div> -->
    </nav><br>
    
    <div class="tbl">
    <table>

      <tr>
      
      <td style="padding:18px"> <a href="upload/Volume 6/volume6.pdf">
          <img src="../images/6.jpeg" alt="" width="200">
      </a></td>
      <td style="padding:18px"> <a href="upload/Volume 5/volume5.pdf">
          <img src="../images/5.png" alt="" width="200">
      </a></td>                  
      <td style="padding:18px"> <a href="upload/Volume 4/volume4.pdf">
          <img src="../images/4.png" alt="" width="200">
      </a></td>                 
      <td style="padding:18px"> <a href="upload/Volume 3/volume3.pdf">
          <img src="../images/3.png" alt="" width="200">
      </a></td>             
      <td style="padding:18px"> <a href="upload/Volume 2/volume2.pdf">
          <img src="../images/2.png" alt="" width="200">
      </a></td>   
      <td style="padding:18px"> <a href="upload/Volume 1/volume1.pdf">
          <img src="../images/1.png" alt="" width="200">
      </a></td>                
      </tr>
                        
          
      </table>
    
      
  </header>
</body>
</html>